html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

.topHolder{
    background: url(bg.jpg);
    text-align: center;
    margin: 0px;
}

.bottomHolder{
    background: linear-gradient(#000000, #292929);
    text-align: center;
    margin: 0px;
}

.tclogo{
    display: inline-block;
    margin: auto;
    margin-top: 7.5%;
    height: 420px;
    width: 420px;
    animation: borderRotator 5s linear 0s infinite;
}

.whiteHeading{
    color: #ffffff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.borderText{
    display: inline-block;
    color: #ffffff;
    margin: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    width: 47.2%;
    display: inline-block;
    height: 1px;
    background-color: #474747;
    border: 0px;
    margin: 0px;
}

.downwardArrow{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    animation: downwardArrowAnimation 2s linear 0s infinite;
}

.blogPostHolder{
    display: inline-block;
    height: auto;
    width: 25%;
    text-align: center;
    color: #ffffff;
    border: 1px solid #aaaaaa;
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
}

.blogpostText{
    display: inline-block;
}

.blogpostDate{
    float: right;
}

.textar{
    border-radius: 10px;
}

input{
    border-radius: 10px;
}

.blogpostWriterName{
    color: #00a516;
}

@keyframes downwardArrowAnimation {
    0% {transform: translate(0px,-10px);}
    50% {transform: translate(0px,10px);}
    100%{transform: translate(0px,-10px);}
}

@keyframes borderRotator {
    0% {transform:rotateZ(0deg);}
    25% {transform: rotateZ(90deg);}
    50% {transform: rotateZ(180deg);}
    75% {transform: rotateZ(270deg);}
    100% {transform: rotateZ(360deg);}
  }